<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freelife.client.mybatis.MemberMapper">

    <insert id="save" parameterType="Member" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
        INSERT INTO member (name, nick_name, password)
        VALUES (#{member.name},
                #{member.nickName},
                #{member.password, typeHandler=EncryptHandler});
    </insert>

    <resultMap id="member" type="Member">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="nickName" column="nick_name"/>
        <result property="password" column="password" typeHandler="EncryptHandler"/>
    </resultMap>

    <select id="findAll" resultMap="member">
        SELECT id, name, nick_name, password
        from member;
    </select>

    <select id="findById" parameterType="long" resultMap="member">
        SELECT id, name, nick_name, password
        from member where id = #{id};
    </select>

    <update id="update" parameterType="Member">
        UPDATE member
        SET name = #{member.name},
            nick_name = #{member.nickName},
            password = #{member.password, typeHandler=EncryptHandler}
        WHERE id = #{member.id};
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM member WHERE id = #{id};
    </delete>
</mapper>